@font-face {
	font-family: 'JetBrains Mono';
	src: url('../../../assets/fonts/JetBrainsMono-BoldItalic.woff2') format('woff2');
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'JetBrains Mono';
	src: url('../../../assets/fonts/JetBrainsMono-Italic.woff2') format('woff2');
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'JetBrains Mono';
	src: url('../../../assets/fonts/JetBrainsMono-Bold.woff2') format('woff2');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'JetBrains Mono';
	src: url('../../../assets/fonts/JetBrainsMono-Regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
