<div class="aside-content">
	{{#is "post, page"}}
		{{> "widgets/newsletter-signup"}}
	{{/is}}
	{{> "widgets/recent-notes"}}
	{{> "widgets/site-stats"}}
	{{> "widgets/testimonials"}}
	{{> "widgets/movies-watched"}}
	{{> "widgets/blogroll"}}
</div>