{{!< default}}
<div class="homepage-container">
  {{> "sections/horizontal-scroll"}}
  <div class="split-content-wrapper">
	<div class="main-content-area">
	  {{> "components/cta-banner"}}
	  {{> "sections/post-feed"}}
	  {{> "sections/masonry-grid"}}
	  <h2 class="horizontal-scroll-title">We {{>icons/heart}} These Posts. YMMV.</h2>
        {{> "sections/the-pile"}}
	</div>
	<aside class="content-aside">
	  {{> "layout/aside-content"}}
	</aside>
  </div>
</div>
<p class="end-credits" data-site-title="{{@site.title}}"></p>
