{{!< default}}
{{> "sections/horizontal-scroll"}}
<div class="split-content-wrapper">
	<div class="main-content-area">
		{{> "components/cta-banner"}}
		{{> "sections/masonry-grid"}}
		{{> "sections/post-feed"}}
	</div>
	<aside class="content-aside">
		{{> "layout/aside-content"}}
	</aside>
</div>
