{{!< default}}
<div class="split-content-wrapper">
	<div class="main-content-area">
		{{> "sections/blog-feed"}}
	</div>
	<aside class="content-aside">
		{{> "layout/aside-content"}}
	</aside>
</div>
<p class="end-credits" data-site-title="{{@site.title}}"></p>
