{{! Newsletter Signup Widget for Sidebar }}
<div class='newsletter-widget'>
  <div class='newsletter-content'>
    {{! Widget Title }}
    <h3 class='newsletter-title'>Get the Newsletter</h3>

    {{! Short Description }}
    <p class='newsletter-description'>Join our weekly(ish) newsletter for
      smarter, more joyful insights. Read about our newsletter here.</p>

    {{! Check if user is already subscribed }}
    {{#unless @member}}
      {{! Newsletter Form for Non-Members }}
      <form class='newsletter-form' data-members-form='subscribe'>
        <input
          type='email'
          class='newsletter-input'
          placeholder='jules@badmotherfucker.com'
          required
          data-members-email
        />
        <button type='submit' class='newsletter-button'>
          Subscribe
        </button>

        {{! Success/Error Messages }}
        <div class='newsletter-message success' data-members-success>
          <p>✓ Success! Check your email for confirmation.</p>
        </div>
        <div class='newsletter-message error' data-members-error>
          <p>Oops! Something went wrong. Please try again.</p>
        </div>
      </form>
    {{else}}
      {{! Already Subscribed Message }}
      <div class='newsletter-subscribed'>
        <p>✓ You're subscribed!</p>
        <a
          href='#/portal/account'
          class='newsletter-manage'
          data-portal='account'
        >
          Manage subscription
        </a>
      </div>
    {{/unless}}
  </div>
</div>