<h3 class='widget-title'>Site Stats</h3>
<div class='stats-widget'>
  <div class='stats-grid'>
    <div class='stat-item'>
      <span class='stat-number'>{{pagination.total}}</span>
      <span class='stat-label'>Total Posts</span>
    </div>
    <div class='stat-item'>
      <span class='stat-number'>{{total_members}}</span>
      <span class='stat-label'>Subscribers</span>
    </div>
    <div class='stat-item'>
      <span class='stat-number'>10%</span>
      <span class='stat-label'>Revenue Donated</span>
    </div>
    <div class='stat-item'>
      <span class='stat-number'>1,000</span>
      <span class='stat-label'>Pay Views per Month</span>
    </div>
    <div class='stat-item'>
      <span class='stat-number'>$500</span>
      <span class='stat-label'>Monthly Revenue</span>
    </div>
    <div class='stat-item'>
      <span class='stat-number'>1,000</span>
      <span class='stat-label'>Pay Views per Month</span>
    </div>
  </div>
  <p class='small-link'><svg
      xmlns='http://www.w3.org/2000/svg'
      width='24'
      height='24'
      viewBox='0 0 24 24'
      fill='none'
      stroke='currentColor'
      stroke-width='2'
      stroke-linecap='round'
      stroke-linejoin='round'
      class='lucide lucide-circle-arrow-right-icon lucide-circle-arrow-right'
    ><circle cx='12' cy='12' r='10' /><path d='m12 16 4-4-4-4' /><path
        d='M8 12h8'
      /></svg>
    learn more
    <a href='/about'>on the about page</a></p>
</div>