<div class="now-reading-widget">
	<ul>
		<li>You Can't Be Serious is built and maintained in Maine with <a href="https://ghost.org">Ghost</a> + <a href="https://www.magicpages.co/">Magic Pages</a> + <a href="/nerd-alert/#buttermaker-theme">Buttermaker</a>. It's been <a href="https://www.nytimes.com/1973/05/11/archives/knicks-win-title-top-lakers-10293-new-york-triumphs-in-five-games.html?unlocked_article_code=1.p04.Ennw.Aq7vqriHBZPh&smid=url-share"><span id="knicks-counter"></span></a> since the New York Knicks won an NBA Championship.</li>
	</ul>
	<div class="widget-controls">
		<a href="{{@site.url}}/rss/" class="widget-btn" title="RSS Feed">{{> "icons/rss"}}</a>
		<a href="#/portal/" class="widget-btn" title="Subscribe" data-portal="signup">{{> "icons/mail"}}</a>
		<a href="#/portal/" class="widget-btn" title="Subscribe" data-portal="signup">{{> "icons/bluesky"}}</a>
		<a href="#/portal/" class="widget-btn" title="Subscribe" data-portal="signup">{{> "icons/letterboxd"}}</a>
	</div>
	<div class="widget-footer">
		<p class="copyright">© {{date format="YYYY"}} {{@site.title}}</p>
	</div>
</div>