<h2 class='section-title'>Get Our Newsletter</h2>
<section class='cta-banner'>
  <div class='cta-content'>
    <h2 class='cta-title'>No longer give two f*#$s?</h2>
    <p class='cta-description'>Everyone thinks they're a fucking pop star and
      all you want is to not be hassled again. We understand. Which is why we
      write this newsletter. Cause wading through all the bullshit for a little
      equanimity is only worth it if you're doing something you enjoy. Read more
      about the newsletter here.</p>
    <div class='cta-buttons'>
      {{#unless @member}}
        <a
          href='#/portal/signup'
          class='cta-btn primary'
          data-portal='signup'
        >Subscribe for free</a>
        <a href='{{@site.url}}/about/' class='cta-btn secondary'>Learn more</a>
      {{else}}
        <a
          href='#/portal/account'
          class='cta-btn primary'
          data-portal='account'
        >Manage subscription</a>
        <a href='{{@site.url}}/archive/' class='cta-btn secondary'>Browse
          archive</a>
      {{/unless}}
    </div>
  </div>
</section>